@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Futura';
    src: url('/fonts/FuturaBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar{
    width: 0;
}